<div class="container about-container shadow rounded">
  <h1 style="text-align: center;">Created By Nathon</h1>
  <div class="about-parent">
    <p class="about-bio">This is a simple CRUD Rails app. Tell your story, read other people's stories, and learn something.</p>
  </div>
</div>